<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicroVerse</title>
</head>
<body>
    <main>
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>{{head}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
    <form class="row g-3 needs-validation" novalidate enctype="multipart/form-data" method="POST">
        {% csrf_token %}
            {{form.as_p}}
            <input type="hidden" name="sub_total" value="0">
            <button type="submit" class="btn-primary">Submit</button>
    </form>
    </div>
    </main>
</body>
</html>